html{
	margin: 0;
	padding: 0;
	height: 100%;
	background: url(../img/background.png) repeat-y center #FDF8DB;
}

body{
	/*background-color: #FEF8DB;*/
	background-color: #FDF8DB;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'News705BT';
	color: #FEF8DB;
	font-size: 14px;
}

a{
	font-weight: bold;
	font-style: italic;
	color: #FEF8DB;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	color: #8C291B;
}

a:visited{
	font-weight: normal;
	color: #FEF8DB;
}

.active a{
	text-decoration: underline;
}

h1{
	font-size: 36px;
	font-weight: bold;
	text-align:center;
}

#wrapper{
	margin: 0 auto;
	width: 800px;
	background-color: #33B44D;
	height: 100%;
	padding: 0px 30px 0px 30px;
	border-left: 3px solid #8C291B;
	border-right: 3px solid #8C291B;
}

.not_logged_in{
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-position: center top;
}

.logged_in{
	background-image: url("../img/logo_loggedin.png");
	background-repeat: no-repeat;
	background-position: top left;
}

.headerUl{
	padding: 50px 0px 50px 150px;
	margin: 0;
}

#logon, .registrationDiv, .requestpassDiv, #aSuccess, #checkMail, #aSuccess{
	padding: 350px 0px 0px 0px;
	margin: 0 auto;
}
#checkMail p, #checkMail, .registrationDiv{
	text-align: center;
}

.headerUl li{
	text-decoration: none;
	list-style-type: none;
	display: inline;
	padding-right: 30px;
}

#logon table, .registrationDiv table, .requestpassDiv table{
	margin: 0 auto;
}

#logon table input, .registrationDiv table input, .requestpassDiv table input{
	font-family: 'News705BT';
	color: #8C291B;
	font-weight: bold;
	background-color: #FEF8DB;
	border: 3px solid #8C291B;
}

#profile-info{
	width: 400px;
}

#float-right{
	width: 200px;
	float: right;
}

#float-left{
	width: 200px;
}

#profile{
	width: 130px;
	height: 150px;
	border: 2px #FEF8DB solid;
	display: inline-block;
	margin: 0px 15px 15px 0px;
}

#profile1{
	float: right;
	width: 130px;
	height: 150px;
	border: 2px #FEF8DB solid;
	margin-top: 25px;
}

#findbuddies img{
	border: 2px #FEF8DB solid;
	margin: 10px;
}

#profile-wrapper{
	width: 550px;
}

#profile-wrapper2{
	width: 400px;
}

#myFriends{
	width: 400px;
	float: right;
	margin-top: -20px;
}

#profile-left{
	padding-left: 160px;
	position: absolute;
}

.seemore {
        text-decoration: underline;
        cursor: pointer;
        float: right;
}

#innerBuddies li{
	list-style-type: none;
	display: inline;
}

#findBuddies form{
	width: 250px;
}

#innerBuddies{
	width: 400px;
}

#search_bar_users{
	width: 150px;
}

#search_results {
	width: 350px;

}

#search_results li {
	list-style-type: none;
}

#sendMessageForm{
	width: 250px;
}

.inboxMessages{
	width: 550px;
	float: right;
	border-top: 2px dashed;
	margin-bottom: 20px;
}

.inboxMessages li{
	list-style-type: none;
}

.inboxMessages a{
	cursor: pointer;
}

#home p{
	text-align: center;
}

#footer{
	width: 800px;
	background-color: #33B44D;
	padding: 0px 30px 0px 30px;
	border-left: 3px solid #8C291B;
	border-right: 3px solid #8C291B;
	margin: 0 auto;
}

#logo{
	height: 150px;
	width: 150px;
	position: absolute;
	margin: 0px 0px 0px -30px;
}

#footer li, #footer li a{
	list-style-type: none;
	color: #FEF8DB;
	text-decoration: none;
}

.clear{
	clear: both;
}

#addbar{
	display: none;
}
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 6, 2011 */
@font-face {
    font-family: 'News705BT';
    src: url('../fonts/news705_bt_bold_italic-webfont.eot');
    src: url('../fonts/news705_bt_bold_italic-webfont.eot?#iefix') format('eot'),
         url('../fonts/news705_bt_bold_italic-webfont.woff') format('woff'),
         url('../fonts/news705_bt_bold_italic-webfont.ttf') format('truetype'),
         url('../fonts/news705_bt_bold_italic-webfont.svg#webfont00JRSI9L') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'News705BT';
    src: url('../fonts/news705_bt_bold-webfont.eot');
    src: url('../fonts/news705_bt_bold-webfont.eot?#iefix') format('eot'),
         url('../fonts/news705_bt_bold-webfont.woff') format('woff'),
         url('../fonts/news705_bt_bold-webfont.ttf') format('truetype'),
         url('../fonts/news705_bt_bold-webfont.svg#webfont9nqIWMcn') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'News705BT';
    src: url('../fonts/news702n-webfont.eot');
    src: url('../fonts/news702n-webfont.eot?#iefix') format('eot'),
         url('../fonts/news702n-webfont.woff') format('woff'),
         url('../fonts/news702n-webfont.ttf') format('truetype'),
         url('../fonts/news702n-webfont.svg#webfont1P4xynvh') format('svg');
    font-weight: normal;
    font-style: normal;

}

